
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("download.jpeg");
    background-size: cover;
    background-position: center;

}

.wrapper{
    width: 420px;
    background: transparent;
    color: aliceblue;
    padding: 30px 40px;
    border-radius: 20px;
    border: 2px solid rgb(228, 186, 241);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb rgb(39, 38, 38);

}

.wrapper h1{
    font-size: 60px;
    color: rgb(214, 201, 238);
    text-align: center;
    font-style: arial;
    cursor: default;
    user-select: none;
}

.wrapper .input_box{
    position: relative;
    width: 100%;
    height: 50%;
    
    margin: 30px 0;
}

.input_box input{
    width: 99%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(253, 252, 255);
    border-radius: 40px;
    padding: 20px 2px 20px 20px;
    color: aliceblue;
    font-size: 20px;
}

.input_box input::placeholder {
    color: #e8dbf0;
}


.input_box i{
    position: absolute ;
    right: 20px;
    top: 20px;
    font-size: 20px

}

.input_box placeholder{
    font-size: 40px;
}

.wrapper .remember-forgetcode{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 25px;
}

.remember-forgetcode label input{
    color: aliceblue;
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgetcode a{
    color: aliceblue;
    text-decoration: none
}

.remember-forgetcode a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background-color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    color: #0a072e;
    font-size: 22px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .register-link{
    text-align: center;
    font-size: 20px;
    margin: 20px 0px 15px;
}

.register-link a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    
}

.register-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.register-link {
    gap: 10px;
    justify-content: center;
    display: flex;
}

.btn:hover {
    color: rgb(80, 10, 128);
    background: rgb(224, 221, 221)
}
